@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

:root {
  /* Primary */
  --light-red: hsl(356, 100%, 66%); /* CTA text */
  --very-light-red: hsl(355, 100%, 74%); /* CTA hover-background */
  --very-dark-blue: hsl(208, 49%, 24%); /* headings */

  /* Neutral */
  --white: hsl(0, 0%, 100%); /* text */
  --grayish-blue: hsl(240, 2%, 79%); /* footer text */
  --very-dark-grayish-blue: hsl(207, 13%, 34%); /* body copy */
  --very-dark-black-blue: hsl(240, 10%, 16%); /* footer background */

  /* Gradient */
  --intro-gradient: linear-gradient(
    to right,
    hsla(13, 100%, 72%, 1),
    hsla(353, 100%, 62%, 1)
  );
  --body-gradient: linear-gradient(
    to right,
    hsla(237, 17%, 21%, 1),
    hsl(237, 23%, 32%, 1)
  );
}

body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  border: none;
  color: inherit;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

.white {
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  color: var(--very-dark-blue);
  margin: 8px 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a.link {
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
}

a.link.dropdown::after {
  content: "\e313";
  font-family: "Material Symbols Outlined";
  vertical-align: center;
  display: inline-block;
}

a.link.dropdown:hover::after {
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  display: inline-block;
  content: "\e316";
  font-family: "Material Symbols Outlined";
}

button {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 20px;
  border: transparent solid 2px;
  padding: 10px 15px;
}

button.primary {
  color: var(--light-red);
  background-color: var(--white);
  border-color: var(--white);
}

button.primary:hover {
  color: var(--white);
  background-color: var(--very-light-red);
  border-color: transparent;
}

button.secondary {
  border-color: var(--white);
}

button.secondary:hover {
  color: var(--light-red);
  background-color: var(--white);
  border-color: var(--white);
}

button.neutral:hover {
  border-color: var(--white);
}

img.logo {
  height: 30px;
  width: auto;
}

img.medium {
  height: 500px;
  width: auto;
  object-fit: cover;
  transform: translate(-10%, -20%);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-bottom: 40px;
}

.subsection {
  padding: 40px 0;
}

.clamp {
  width: clamp(500px, 75%, 1000px);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center {
  text-align: center;
}

.center-horizontal {
  display: flex;
  align-items: center;
}

.gap {
  gap: 20px;
}

.warp {
  flex-wrap: wrap;
}

.right-margin {
  margin-right: 20px;
}

.split {
  display: flex;
  justify-content: space-between;
}

.split.even .left,
.split.even .right {
  width: 50%;
}

.header {
  background: url("./images/bg-pattern-intro-desktop.svg"),
    var(--intro-gradient);
  background-repeat: no-repeat, no-repeat;
  background-position: center, left;
  background-size: 150%, 100%;
  color: var(--white);
  border-bottom-left-radius: 40px;
  padding-bottom: 120px;
}

.nav {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  padding: 0 0 80px 0;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.one {
  background: url("./images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-position: 145% 50%;
  background-size: contain;
  padding: 160px 0;
}

.two {
  background: url("./images/bg-pattern-circles.svg"), var(--body-gradient);
  background-repeat: no-repeat;
  background-position: -20% 80%;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 300px;
  margin-bottom: 80px;
}

.three {
  background: url("./images/illustration-laptop-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -45% 50%;
  padding: 160px 0;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  background: var(--very-dark-black-blue);
  color: var(--grayish-blue);
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  border-top-right-radius: 40px;
}
